* {

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


body,
html {

  background-color: black;
  color: #FFF;

}

a,
a:hover,
a:visited {

  color: unset;
  text-decoration: none;
}

